* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  padding: 48px 300px;
  height: 150px;
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__container .logo {
  width: 30%;
}

.header__container .nav {
  width: 55%;
}
.header__container ul {
  text-align: right;
}
.header__container li {
  display: inline-block;
  padding: 40px 0;
}
.header__container li:hover {
  animation-name: scrolling;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.header__container li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 1rem;
}
.header__container li:hover a {
  color: #f55f8d;
  transition: 0.5s;
  transition-delay: 0.3s;
}
.header__container i {
  font-size: 0.8rem;
  margin-right: 24px;
}
.quote {
  /* width: 15%; */
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 24px;
  background-image: linear-gradient(to right, #f56787, #f8a85a, #f56787);
  background-position: left;
  background-size: 200%;
  border-radius: 36px;
  border: none;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}

.quote:hover {
  background-position: right;
}
@keyframes scrolling {
  30% {
    transform: translateY(40px);
    opacity: 0;
  }
  60% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Start carousel */
.introduce {
  padding: 0 300px;
  background-image: url(./img/pic2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.introduce .introduce__container {
  padding-top: 180px;
  display: flex;
  align-items: center;
}
.introduce__content {
  width: 50%;
}
.introduce__content span {
  display: inline-block;
  color: #f55f8d;
  font-size: 1.4rem;
  font-weight: 600;
  opacity: 0;

  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.introduce__content h2 {
  font-size: 4.4rem;
  margin: 20px 0 16px;
  opacity: 0;

  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.introduce__content p {
  color: #878787;
  margin-bottom: 14px;
  font-size: 1.4rem;
  line-height: 1.4;
  opacity: 0;

  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.introduce__highlight {
  margin-top: 10px;
  opacity: 0;

  animation-duration: 1s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.introduce__highlight i {
  color: #fff;
  display: inline-block;
  padding: 8px 10px;
  margin-right: 12px;
  border-radius: 100%;
  background-image: linear-gradient(to right, #f56787, #f8a85a, #f56787);
}
.introduce__highlight p {
  display: inline-block;
  font-size: 1.3rem;
}
.introduce__img {
  width: 50%;
  text-align: right;
  opacity: 0;

  animation-duration: 2s;
  animation-delay: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.introduce__content button {
  margin-top: 20px;
  opacity: 0;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.introduce.active .introduce__content button,
.introduce.active .introduce__img,
.introduce.active .introduce__highlight,
.introduce.active .introduce__content p,
.introduce.active .introduce__content span,
.introduce.active .introduce__content h2 {
  animation-name: up;
}
@keyframes up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* End Carousel */
/* Start Services */

.services {
  padding: 100px 300px;
  text-align: center;
  background-image: url(./img/bg16.png);
}
.services span {
  color: #f55f8d;
  font-size: 1.6rem;
  font-weight: 600;
}
.services h2 {
  font-size: 4.5rem;
  margin: 30px 0 36px;
}
.services__container {
  display: flex;
  justify-content: space-between;
}
.services__items {
  width: calc(100% / 3);
  padding: 16px;
  cursor: pointer;
}
.items__container {
  padding: 24px 60px;
  background: #fff;
  box-shadow: 0px 0px 50px rgb(196, 196, 196);
  border-radius: 10px;
  transition: 0.5s;
}
.items__container:hover {
  transform: translateY(-20px);
}
.services__items .items__img {
}
.services__items img {
  width: 100%;
}
.services__items h3 {
  font-size: 1.6rem;
  padding: 24px 0 18px;
}
.services__items p {
  color: #636363;
  font-size: 1rem;
}

/* End Services */
/* Start About us */
#aboutus {
  padding: 50px 300px 100px 150px;
  background-image: url(./img/bg15.png);
}
.aboutus__container {
  display: flex;
  align-items: center;
}
.aboutus__img {
  width: 50%;
}
.aboutus_move_to_right {
  animation-name: toright;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.aboutus__img img {
  width: 100%;
  border-radius: 0 60px 60px 0;
}
@keyframes toright {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.aboutus__detail {
  width: 50%;
  padding-left: 80px;
}
.aboutus_move_to_left {
  animation-name: toleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes toleft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.aboutus__detail span {
  color: #f55f8d;
  font-size: 1.6rem;
  font-weight: 600;
}
.aboutus__detail h2 {
  font-size: 4.6rem;
  margin: 20px 0 16px;
}
.aboutus__detail p {
  color: #878787;
  margin-bottom: 14px;
  font-size: 1rem;
  line-height: 1.4;
}
.aboutus__highlight {
  padding: 2px 2px;
}
.aboutus__highlight i {
  color: #f8858d;
  display: inline-block;
  padding: 4px 6px;
  margin-right: 12px;
  border-radius: 100%;
  border: 2px solid #f8858d;
}
.aboutus__highlight p {
  display: inline-block;
  font-size: 1rem;
}
.aboutus__detail button {
  margin-top: 20px;
}
/* End About us */
/* Start Number */
#number {
  padding: 0 350px;
  background-image: url(./img/bg14.png);
  background-position: center;
  background-size: cover;
}
.number__container {
  padding: 48px 100px;
  display: flex;
  justify-content: space-between;
}
.number__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.number__items i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-image: linear-gradient(to right, #f56787, #f8a85a, #f56787);
  background-size: 200%;
  color: #fff;
  border-radius: 50%;
  font-size: 2.5rem;
}
.number__items p:first-of-type {
  color: #f55f8d;
  font-size: 4rem;
  font-weight: bold;
}
.number__items p:last-of-type {
  font-size: 1.2rem;
}
/* End Number */
/* Start Features */
#features {
  padding: 60px 300px;
}
.features__container {
  display: flex;
  justify-content: space-between;
}
.features__details,
.features__img {
  width: 50%;
}
/* .features__details {
  padding-right: 60px;
} */
.features__img img {
  width: 100%;
}
.features__title {
  transform: translateX(-500%);
  opacity: 0;
}
.features__title.move_right {
  transform: translateX(0);
  transition: 2s;
  opacity: 1;
}
.features__details p {
  display: inline-block;
  color: #f55f8d;
  font-size: 1.4rem;
  font-weight: 600;
}
.features__details h2 {
  font-size: 4.4rem;
  margin: 20px 0 16px;
}
.ft_items__container {
  padding-bottom: 30px;
  padding-right: 40px;
  transform: translateX(100%);
  opacity: 0;
}
.ft_items__container.moveleft {
  transform: translateX(0);
  opacity: 1;
  transition-duration: 2s;
}
.ft_items__container1.moveleft {
  transition-delay: 0.5s;
}
.ft_items__container2.moveleft {
  transition-delay: 1s;
}
.ft_items__container3.moveleft {
  transition-delay: 1.5s;
}
.features__items {
  background-color: #fff;
  padding: 20px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.ft_items__container2.padding-right {
  padding: 0 0 30px 40px;
}
.features__items::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #f56787, #f8a85a, #f56787);
  background-size: 200%;
  opacity: 0;
  transition: 1s;
  cursor: pointer;
}
.features__items .text_white {
  transition: 1s;
}
.features__items i {
  font-size: 4.2rem;
  color: #f55f8d;
  padding: 16px;
  position: relative;
  z-index: 1;
}
.features__items h3 {
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 8px;
  position: relative;
  z-index: 1;
}
.features__items span {
  color: #646464;
  position: relative;
  z-index: 1;
}

.features__items:hover::after {
  opacity: 1;
}
.features__items:hover .text_white {
  color: #fff;
}
.features__img {
  padding-left: 30px;
}
.features__img img {
  animation: img_move 2s infinite;
}
@keyframes img_move {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
/* End Features */
/* Start Portfolio */
#portfolio {
  padding: 36px 0 36px;
}
.portfolio__container p {
  color: #f55f8d;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}
.portfolio__container h2 {
  font-size: 4.4rem;
  margin: 20px 0 24px;
  text-align: center;
}
.portfolio__list {
  width: 60vw;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  grid-gap: 30px;
}
.portfolio__items {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transform: translateY(100%);
  opacity: 0;
}
.portfolio__items.moveup {
  transform: translateY(0);
  transition-duration: 1.5s;
  opacity: 1;
}

.portfolio__img3.moveup,
.portfolio__img4.moveup {
  transition-delay: 1s;
}
.portfolio__img5.moveup,
.portfolio__img6.moveup {
  transition-delay: 2s;
}
.portfolio__items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.portfolio__img1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.portfolio__img2 {
  grid-row: 1 / span 2;
}
.portfolio__img5 {
  grid-row: 3 / span 2;
  grid-column: 3 / span 1;
}
.portfolio__img6 {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
}
.portfolio__items::after {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.3)
  );
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 50%;
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio__items:hover::after {
  left: 125%;
}
.portfolio__items i {
  cursor: pointer;
}
.overlay_toleft {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  background-image: linear-gradient(to right, #f56787, #f8a85a, #f56787);
  background-size: 200%;
  transform: translate(80px, -80px);
  transition: 0.5s;
  opacity: 0;
}
.items__overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}

h3.overlay_transition {
  color: #fff;
  position: absolute;
  bottom: 60px;
  left: 20px;
  font-size: 1.4rem;
  transform: translateY(100px);
  transition: 0.5s;
}
p.overlay_transition {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-size: 1rem;
  transform: translateY(130px);
  transition: 0.5s;
}
.portfolio__items:hover .items__overlay {
  opacity: 1;
}
.portfolio__items:hover .overlay_toleft {
  transform: translate(0, 0);
  opacity: 1;
}
.portfolio__items:hover .overlay_transition {
  transform: translate(0, 0);
}
.portfolio__carousel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 1);
}
.portfolio__carousel--active {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.carousel__header {
  display: flex;
  align-items: center;
  width: max-content;
  position: absolute;
  top: 10px;
  right: 10px;
}
.portfolio__carousel .fa-times {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.5);

  cursor: pointer;
  margin: 0 10px;
}
.portfolio__carousel .fa-eye,
.portfolio__carousel .fa-play-circle,
.portfolio__carousel .fa-pause-circle,
.portfolio__carousel .fa-expand-arrows-alt {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin: 0 10px;
  transition: 0.5s;
  display: inline-block;
}
.portfolio__carousel .overloop_play .fa-pause-circle {
  display: none;
}
.portfolio__carousel .fa-times:hover,
.portfolio__carousel .fa-eye:hover,
.portfolio__carousel .fa-play-circle:hover,
.portfolio__carousel .fa-pause-circle:hover,
.portfolio__carousel .fa-expand-arrows-alt:hover {
  color: rgba(255, 255, 255, 0.8);
}

.portfolio__carousel .carousel_wrap {
  width: 50%;
  height: 80%;
  position: relative;
  overflow: hidden;
}
.carousel__button--prev,
.carousel__button--next {
  font-size: 80px;
  color: rgba(255, 255, 255, 0.3);
  padding: 0 5px;
  cursor: pointer;
}
.carousel__button--prev:hover,
.carousel__button--next:hover {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}
.portfolio__carousel .carousel__item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}
.portfolio__carousel .carousel__item img {
  width: 100%;
}
.top {
  z-index: 3;
  transition: 0.5s ease transform;
}
.portfolio__carousel .carousel__item--selected {
  opacity: 1;
  display: flex;
  z-index: 3;
  transform: translateX(0);
}
.portfolio__carousel .carousel__nav {
  width: 100%;
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-bottom: 10px;
  transition: 0.5s;
}
.portfolio__carousel .carousel__nav.hide_pannel {
  transform: translateY(100%);
}
.portfolio__carousel .carousel__button {
  display: inline-block;
  width: 60px;
  height: 60px;

  margin: 0 5px;
  cursor: pointer;
}
.portfolio__carousel .carousel__button:hover img {
  border: 2px solid red;
  transition: 0.3s;
}
.portfolio__carousel .carousel__button img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.portfolio__carousel .carousel__button--selected img {
  border: 2px solid red;
}

/* End Portfolio */
/* Start Plan */
.plan {
  margin: 40px 0;
  background-image: url(./img/bg16.png);
}
.plan__container p {
  color: #f55f8d;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}
.plan__container h2 {
  font-size: 4.4rem;
  margin: 20px 0 16px;
  text-align: center;
}
.plan__items span {
  color: #f8ae56;
  font-size: 3rem;
}
.plan__items .tuition {
  font-weight: bold;
}
.plan__highlight {
  padding: 6px 6px;
}

.plan__highlight i {
  color: #f8858d;
  display: inline-block;
  padding: 4px 6px;
  margin-right: 12px;
  border-radius: 100%;
  background-color: #feeff3;
  font-size: 0.8rem;
}
.plan__highlight p {
  display: inline-block;
  font-size: 1rem;
}
.plan__list {
  width: 1200px;
  margin: 36px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.plan__items {
  background-color: #fff;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 36px 0px;
  position: relative;
  transition: 0.5s;
  border: 3px solid transparent;
  border-image: 100 round;
  cursor: pointer;
}
.plan__items:hover {
  border-image: url(./img/br.png) 1 round;
}
.plan__items h3 {
  font-size: 2rem;
}
.plan__items img {
  height: auto;
  width: 40%;
  margin: 10px 0;
}
.plan__items .tuition {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.plan__items .plan__subject {
  margin: 14px 0;
  align-self: flex-start;
}
/* End PLan */
/* Start Slider */
.slider {
  margin-top: 100px;
  background-image: url(./img/bg15.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.slider::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.slider__container p {
  color: #f55f8d;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}
.slider__container h2 {
  font-size: 4.4rem;
  margin: 20px 0 16px;
  text-align: center;
}
.testimonial-content {
  margin: 40px 200px;
  max-width: 1200px;

  position: relative;
  margin: auto;
  padding-top: 50px;
}
.swiper-pagination-bullet-active {
  background-color: #f55f8d;
}
.testimonial-thumbs .testimonial-pic img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 4px;
  background-color: #f55f8d;
}
.testimonial-thumbs {
  width: 300px;
  margin: auto;
  height: 170px;
  position: relative;
}
.testimonial-thumbs::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial-thumbs::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial-comment {
  height: 300px;
  width: 100%;
  position: relative;
}
.testimonial-thumbs .testimonial-pic {
  width: 100%;
  padding: 50px 0 0;
  transition: all 0.5s;
  position: relative;
  text-align: center;
}

.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 40px 0 rgb(0 0 0 / 10%);
  margin: 20px auto;
  border-radius: 10px;
  background-color: #fff;
  width: 700px;
  position: relative;
}
.testimonial-text .testimonial-name {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 12px;
}
.testimonial-text .testimonial-position {
  display: inline-block;
  color: #f55f8d;
  margin-bottom: 36px;
  font-style: italic;
}
.testimonial-text p:last-of-type {
  font-style: italic;
  color: #7c7c7c;
  font-size: 1.2rem;
}
.testimonial-text .quote_icon {
  transform: rotate(-180deg);
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 4rem;
  color: #f55f8d;
}
.testimonial-pic .shape-bx {
  background-color: #f55f8d;
  height: 36px;
  width: 50px;
  position: relative;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
}
.testimonial-pic .shape-bx::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-image: url(./img/pattern12.png);
  background-size: 100% 100%;
}
.testimonial-thumbs .swiper-slide--selected .testimonial-pic::before {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f55f8d;
  position: absolute;
  left: 50%;
  bottom: 32px;
  z-index: 1;
  transform: translateX(-50%);
}
.testimonial-thumbs .swiper-slide--selected .testimonial-pic::after {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #f55f8d;
  position: absolute;
  left: 50%;
  bottom: 8px;
  z-index: 1;
  transform: translateX(-50%);
}

.testimonial-comment .swiper-wrapper,
.testimonial-thumbs .swiper-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-comment .swiper-slide,
.testimonial-thumbs .swiper-slide {
  width: 100%;
  margin: 0 auto;
  position: absolute;

  z-index: -1;
  opacity: 0;
  transition: 2s;
}
.testimonial-thumbs .swiper-slide {
  width: 100%;
  margin: 0;
  height: 100%;
  z-index: 1;
}
/* .testimonial-thumbs .swiper-slide.prev {
  animation-name: goaround;
  animation-duration: 1s;

  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes goaround {
  30% {
    transform: translateX(-150%);
    opacity: 0;
  }
  60% {
    transform: translateX(150%);
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
} */
.testimonial-comment .swiper-slide--selected,
.testimonial-thumbs .swiper-slide--selected {
  opacity: 1;
  display: flex;
  z-index: 3;
  transform: translateX(0);
}
.testimonial-comment .swiper-slide--selected {
  left: 0;
}
.testimonial-thumbs .swiper-slide--selected .testimonial-pic {
  padding: 0;
}
.testimonial-comment .testCarousel__nav {
  width: 100%;
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-bottom: 10px;
  transition: 0.5s;
}
.testimonial-comment .testCarousel__button {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 5px;
  cursor: pointer;
}

.testimonial-comment .testCarousel__button--selected {
  background-color: rgba(0, 0, 0, 0.7);
}
/* End Slider */
/* Start blog */
.blog {
  padding: 60px 0;
  background-image: url(./img/bg16.png);
  display: flex;
  justify-content: center;
  position: relative;
}
.blog__container {
  width: 1200px;

  margin: 0 -12px;
  position: relative;
}
.blog__container .carousel__container {
  width: 400px;
}
.blog__container p {
  color: #f55f8d;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}
.blog__container h2 {
  font-size: 4.4rem;
  margin: 20px 0 16px;
  text-align: center;
}
.blog .blog-carousel {
  margin-left: -12px;
  margin-right: -12px;
  width: 102%;
}

.carousel__items {
  margin: 0 12px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #feeff3;
}
.blog__img {
  position: relative;
}
.blog__img:after {
  content: "23 MARCH 2022";
  color: #fff;
  line-height: 40px;
  text-align: center;
  font-size: 0.8rem;
  width: 140px;
  height: 40px;
  position: absolute;
  left: 10px;
  bottom: -20px;
  z-index: 2;
  background-image: linear-gradient(to right, #f56787, #f8a85a, #f56787);

  background-size: 200%;
  border-radius: 8px;
}

.carousel__items img {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.carousel__items h3 {
  /* padding: 12px 0; */
  font-size: 1.6rem;
  line-height: 1.4;
}
.carousel__items p {
  color: #6c6b6b;
  line-height: 1.4;
  font-size: 1rem;
}
.blog__details {
  padding: 24px 12px 36px;
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
}
.blog__details p {
  text-align: left;
}
.blog__footer {
  display: flex;
}
.blog__footer p {
  padding-right: 8px;
  font-size: 0.8rem;
  padding: 24px 12px;
}
.blog__footer i,
.blog__footer span {
  padding-right: 8px;
  color: #f55f8d;
}
.blog .blog__carousel {
  width: 100%;
  margin: auto;
  position: relative;
  height: 550px;
  overflow: hidden;
}
.blog .blog__carousel--container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3680px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
  pointer-events: none;
}
/* End blog */
/* Start subscribe */
.subscribe {
  width: 100%;
  position: absolute;
  z-index: 5;
}
.subscribe__container {
  display: flex;
  width: 1200px;
  padding: 48px 48px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  background-image: url(./img/pattern3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.subscribe__container.active {
  animation-name: up;
  animation-duration: 1s;

  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
.subscribe__container .send_email {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  height: 60px;
  overflow: hidden;
  border-radius: 8px;

  display: flex;
  width: 500px;
  align-items: center;
}
.subscribe__container .send_email input {
  border: 1px solid transparent;
  border-right: none;
  height: 100%;
  transition: 0.5s;
}
.subscribe__container .send_email input:hover {
  border: 1px solid #f55f8d;
  border-right: none;
}
.subscribe__container .quote {
  height: 100%;
  width: 20%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe__container input {
  padding-left: 30px;
  width: 80%;
  line-height: 60px;
  font-size: 1rem;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* End Subscribe */
/* Start footer */
footer {
  background-color: rgba(14, 27, 31);
  height: 700px;
  position: relative;
}
footer#container::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  background-image: url(./img/bg4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
footer#container::after {
  content: "";
  height: 40%;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-image: url(./img/pattern2.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100%;
}
.footer__container {
  width: 100%;
  padding: 0 300px;
  position: absolute;
  top: 250px;
  z-index: 3;
  color: #fff;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.footer__details {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.footer__link {
  width: 70%;
  display: flex;
}
.link__items {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.footer__contact img {
  width: 50%;
  margin-bottom: 20px;
}
.contact__list {
  display: flex;
  align-items: center;
  padding-right: 50px;
}
.contact__list i {
  background-image: linear-gradient(to right, #f56787, #f8a85a, #f56787);
  padding: 12px;
  margin: 8px 12px 8px 0;
  font-size: 1.2rem;
  border-radius: 50%;
}
.contact__list .fa-phone {
  transform: rotate(90deg);
}
.contact__list .fa-map-marker-alt {
  padding: 12px 14px;
}
.contact__list p {
  line-height: 1.4;
  font-size: 1rem;
}

footer .link__items h2 {
  font-weight: bold;
  padding: 8px 0;
  margin-bottom: 52px;
  position: relative;
}
footer .link__items h2::after {
  content: "";
  width: 20px;
  height: 4px;
  background-image: linear-gradient(to right, #f56787, #f8a85a, #f56787);
  background-size: 200%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 5px;
}
footer .link__items h2::before {
  content: "";
  width: 50px;
  height: 4px;
  background-image: linear-gradient(to right, #f56787, #f8a85a, #f56787);
  background-size: 200%;
  position: absolute;
  left: 28px;
  bottom: 0;
  border-radius: 5px;
}
footer .footer__link {
  font-size: 1rem;
}
footer .footer__link a {
  margin: 12px 0;
  cursor: pointer;
  opacity: 0.2;
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
}
footer .footer__link a:hover {
  opacity: 1;
}
footer .footer__link i {
  margin-right: 10px;
  font-size: 1.2rem;
}
footer .social {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  color: #fff;
  background-color: #1f343b;
  padding: 12px 0;
  font-size: 1rem;
}
footer .social__container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social__container .copyright span {
  color: #f54d5b;
}
.social__container .social_media i {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.social__container .social_media i:hover {
  background-color: #f55f8d;
}
.social__container .social_media .fa-facebook-f {
  padding: 10px 14px;
}
footer .backToTop {
  position: fixed;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  bottom: 20px;
  right: 20px;
  background-color: #f55f8d;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 8px;
  transition: 0.3s;
}
footer .backToTop i {
  color: #fff;
}
footer .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* End footer */
